// color
$mainblue: #91cad1;
$blacktext: rgb(0, 0, 0);
$lighttext: rgb(64, 64, 64);
$graytext: rgb(204, 204, 204);


//font

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:wght@300;700&display=swap');


